footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  color: var(--background-color);
}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

footer a:any-link {
  color: #000069;
  text-decoration: none;
  word-break: break-word;
}

footer a:hover {
  color: var(--background-color);
  text-decoration: underline;
}