.eds-banner {
    /* background-color: #0073aa; */
    padding: 20px;
    color: #ffffff;
}

.eds-banner h2 {
    margin: 0 0 15px;
}

.eds-banner img {
    max-width: 100%;
}

.test-class {
    background-color: blue;
}